In [1]:
import pandas as pd
Pizza_ingredients = pd.read_excel("Pizza_ingredients.xlsx")
Pizza_Sale = pd.read_excel("Pizza_Sale.xlsx")

In [2]:
Pizza_ingredients.isnull().sum()

pizza_name_id         0
pizza_name            0
pizza_ingredients     0
Items_Qty_In_Grams    4
dtype: int64

In [3]:
Pizza_ingredients.dtypes

pizza_name_id          object
pizza_name             object
pizza_ingredients      object
Items_Qty_In_Grams    float64
dtype: object

In [4]:
Pizza_Sale.isnull().sum()

pizza_id              0
order_id              0
pizza_name_id        16
quantity              0
order_date            0
order_time            0
unit_price            0
total_price           7
pizza_size            0
pizza_category       23
pizza_ingredients    13
pizza_name            7
dtype: int64

In [5]:
Pizza_Sale.dtypes

pizza_id               int64
order_id               int64
pizza_name_id         object
quantity               int64
order_date            object
order_time            object
unit_price           float64
total_price          float64
pizza_size            object
pizza_category        object
pizza_ingredients     object
pizza_name            object
dtype: object

In [6]:
# Pizza_Sale['order_date1'] = Pizza_Sale['order_date']
def parse_date(date_str):
    for fmt in ('%Y-%m-%d', '%d-%m-%Y'):
        try:
            return pd.to_datetime(date_str, format=fmt)
        except ValueError:
            continue
    return pd.NaT  # Return Not a Time if parsing fails
Pizza_Sale['order_date'] = Pizza_Sale['order_date'].apply(parse_date)
Pizza_Sale['order_date'] = Pizza_Sale['order_date'].dt.strftime('%m/%d/%Y')
Pizza_Sale['order_date'] = pd.to_datetime(Pizza_Sale['order_date'])

In [7]:
Pizza_Sale.dtypes

pizza_id                      int64
order_id                      int64
pizza_name_id                object
quantity                      int64
order_date           datetime64[ns]
order_time                   object
unit_price                  float64
total_price                 float64
pizza_size                   object
pizza_category               object
pizza_ingredients            object
pizza_name                   object
dtype: object

In [8]:
Pizza_Sale.dropna(inplace=True)
Pizza_ingredients.dropna(inplace=True)

In [9]:
Pizza_Sale.head()

,pizza_id,order_id,pizza_name_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name
0,1,1,hawaiian_m,1,2015-01-01,11:38:36,13.25,13.25,M,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",The Hawaiian Pizza
1,2,2,classic_dlx_m,1,2015-01-01,11:57:40,16.00,16.00,M,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,...",The Classic Deluxe Pizza
2,3,2,five_cheese_l,1,2015-01-01,11:57:40,18.50,18.50,L,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go...",The Five Cheese Pizza
3,4,2,ital_supr_l,1,2015-01-01,11:57:40,20.75,20.75,L,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",The Italian Supreme Pizza
4,5,2,mexicana_m,1,2015-01-01,11:57:40,16.00,16.00,M,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza

In [10]:
Pizza_Sale.columns

Index(['pizza_id', 'order_id', 'pizza_name_id', 'quantity', 'order_date',
       'order_time', 'unit_price', 'total_price', 'pizza_size',
       'pizza_category', 'pizza_ingredients', 'pizza_name'],
      dtype='object')

In [11]:
Pizza_ingredients.head()

,pizza_name_id,pizza_name,pizza_ingredients,Items_Qty_In_Grams
0,bbq_ckn_l,The Barbecue Chicken Pizza,Barbecued Chicken,40.0
1,bbq_ckn_l,The Barbecue Chicken Pizza,Red Peppers,15.0
2,bbq_ckn_l,The Barbecue Chicken Pizza,Green Peppers,20.0
3,bbq_ckn_l,The Barbecue Chicken Pizza,Tomatoes,30.0
4,bbq_ckn_l,The Barbecue Chicken Pizza,Red Onions,60.0

In [12]:
sales_df = Pizza_Sale
ingredients_df = Pizza_ingredients

merged_df = pd.merge(sales_df[['pizza_id', 'order_id', 'quantity', 'order_date',
       'order_time', 'unit_price', 'total_price', 'pizza_size',
       'pizza_category', 'pizza_name']], ingredients_df, how='left', on='pizza_name')

In [13]:
merged_df

,pizza_id,order_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_name,pizza_name_id,pizza_ingredients,Items_Qty_In_Grams
0,1,1,1,2015-01-01,11:38:36,13.25,13.25,M,Classic,The Hawaiian Pizza,hawaiian_l,Pineapple,45.0
1,1,1,1,2015-01-01,11:38:36,13.25,13.25,M,Classic,The Hawaiian Pizza,hawaiian_l,Mozzarella Cheese,30.0
2,1,1,1,2015-01-01,11:38:36,13.25,13.25,M,Classic,The Hawaiian Pizza,hawaiian_m,Pineapple,30.0
3,1,1,1,2015-01-01,11:38:36,13.25,13.25,M,Classic,The Hawaiian Pizza,hawaiian_m,Mozzarella Cheese,20.0
4,1,1,1,2015-01-01,11:38:36,13.25,13.25,M,Classic,The Hawaiian Pizza,hawaiian_s,Pineapple,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
765230,48620,21350,1,2015-12-31,23:02:05,12.75,12.75,S,Chicken,The Barbecue Chicken Pizza,bbq_ckn_s,Red Peppers,5.0
765231,48620,21350,1,2015-12-31,23:02:05,12.75,12.75,S,Chicken,The Barbecue Chicken Pizza,bbq_ckn_s,Green Peppers,20.0
765232,48620,21350,1,2015-12-31,23:02:05,12.75,12.75,S,Chicken,The Barbecue Chicken Pizza,bbq_ckn_s,Tomatoes,10.0
765233,48620,21350,1,2015-12-31,23:02:05,12.75,12.75,S,Chicken,The Barbecue Chicken Pizza,bbq_ckn_s,Red Onions,20.0
765234,48620,21350,1,2015-12-31,23:02:05,12.75,12.75,S,Chicken,The Barbecue Chicken Pizza,bbq_ckn_s,Barbecue Sauce,5.0

In [14]:
ingredient_usage = merged_df.groupby(['pizza_name', 'pizza_ingredients'])['Items_Qty_In_Grams'].sum().reset_index()

In [15]:
ingredient_usage

                            pizza_name  pizza_ingredients  Items_Qty_In_Grams
0           The Barbecue Chicken Pizza     Barbecue Sauce             71040.0
1           The Barbecue Chicken Pizza  Barbecued Chicken            213120.0
2           The Barbecue Chicken Pizza      Green Peppers            130240.0
3           The Barbecue Chicken Pizza         Red Onions            284160.0
4           The Barbecue Chicken Pizza        Red Peppers             71040.0
..                                 ...                ...                 ...
174  The Vegetables + Vegetables Pizza         Red Onions            181200.0
175  The Vegetables + Vegetables Pizza        Red Peppers             45300.0
176  The Vegetables + Vegetables Pizza            Spinach            135900.0
177  The Vegetables + Vegetables Pizza           Tomatoes             90600.0
178  The Vegetables + Vegetables Pizza           Zucchini             90600.0

[179 rows x 3 columns]

In [16]:
total_ingredient_usage = merged_df.groupby('pizza_ingredients')['Items_Qty_In_Grams'].sum().reset_index()

In [17]:
sales_df['order_date'] = pd.to_datetime(sales_df['order_date'])
daily_sales = sales_df.groupby('order_date')['total_price'].sum().reset_index()

In [18]:
from statsmodels.tsa.statespace.sarimax import SARIMAX

model = SARIMAX(daily_sales['total_price'], 
                order=(1, 1, 1),
                seasonal_order=(1, 1, 1, 7))
results = model.fit()
forecast = results.get_forecast(steps=30)

future_sales = forecast.predicted_mean

In [19]:
from sklearn.metrics import mean_absolute_percentage_error

y_true = daily_sales['total_price'][-30:]
y_pred = forecast.predicted_mean

mape = mean_absolute_percentage_error(y_true, y_pred)
print(f'MAPE: {mape:.2f}')

MAPE: 0.16

In [38]:
future_sales = forecast.predicted_mean
# ingredient_requirements = calculate_ingredient_requirements(future_sales, ingredient_usage)  # Define this function

In [ ]:
from statsmodels.tsa.statespace.sarimax import SARIMAX
def model(df, pizza_name):
    model = SARIMAX(df[pizza_name], 
                    order=(1, 1, 1),
                    seasonal_order=(1, 1, 1, 7))
    results = model.fit()
    forecast = results.get_forecast(steps=30)
    future_sales = forecast.predicted_mean
    return future_sales

In [66]:
# Pivot table to get pizza names as columns and order_date as index
pivot_table_pizzaname = sales_df.pivot_table(index='order_date', columns='pizza_name', values='quantity', aggfunc='sum', fill_value=0)
pivot_table_pizzaname = pivot_table_pizzaname.reset_index()

In [62]:
pizza_names = list(sales_df['pizza_name'].unique())

In [92]:
pizza_name_forecaset_dict = {}
for pizza_name in pizza_names:
    forescast = model(pivot_table_pizzaname, pizza_name)
    forescast = pd.DataFrame(forescast)
    forescast = list(forescast['predicted_mean'])
    pizza_name_forecaset_dict[pizza_name] = forescast

C:\Users\Admin\anaconda3\Lib\site-packages\statsmodels\tsa\statespace\sarimax.py:978: UserWarning: Non-invertible starting MA parameters found. Using zeros as starting parameters.
  warn('Non-invertible starting MA parameters found.'

In [106]:
ingredients_dfpizza_ingredients

,pizza_name_id,pizza_name,pizza_ingredients,Items_Qty_In_Grams
0,bbq_ckn_l,The Barbecue Chicken Pizza,Barbecued Chicken,40.0
1,bbq_ckn_l,The Barbecue Chicken Pizza,Red Peppers,15.0
2,bbq_ckn_l,The Barbecue Chicken Pizza,Green Peppers,20.0
3,bbq_ckn_l,The Barbecue Chicken Pizza,Tomatoes,30.0
4,bbq_ckn_l,The Barbecue Chicken Pizza,Red Onions,60.0
...,...,...,...,...
513,veggie_veg_s,The Vegetables + Vegetables Pizza,Green Peppers,20.0
514,veggie_veg_s,The Vegetables + Vegetables Pizza,Red Onions,20.0
515,veggie_veg_s,The Vegetables + Vegetables Pizza,Zucchini,10.0
516,veggie_veg_s,The Vegetables + Vegetables Pizza,Spinach,15.0
517,veggie_veg_s,The Vegetables + Vegetables Pizza,Garlic,5.0

In [112]:
# Pivot table to get pizza names as columns and order_date as index
pivot_table_ingredients = ingredients_df.pivot_table(index='pizza_name', columns='pizza_ingredients', values='Items_Qty_In_Grams', aggfunc='sum', fill_value=0)
# pivot_table_ingredients = pivot_table_ingredients.reset_index()

In [122]:
ingridients = list(pivot_table_ingredients.columns)

In [120]:
list(pivot_table_ingredients.index)

['The Barbecue Chicken Pizza',
 'The Big Meat Pizza',
 'The Brie Carre Pizza',
 'The Calabrese Pizza',
 'The California Chicken Pizza',
 'The Chicken Alfredo Pizza',
 'The Chicken Pesto Pizza',
 'The Classic Deluxe Pizza',
 'The Five Cheese Pizza',
 'The Four Cheese Pizza',
 'The Greek Pizza',
 'The Green Garden Pizza',
 'The Hawaiian Pizza',
 'The Italian Capocollo Pizza',
 'The Italian Supreme Pizza',
 'The Italian Vegetables Pizza',
 'The Mediterranean Pizza',
 'The Mexicana Pizza',
 'The Napolitana Pizza',
 'The Pepper Salami Pizza',
 'The Pepperoni Pizza',
 'The Pepperoni, Mushroom, and Peppers Pizza',
 'The Prosciutto and Arugula Pizza',
 'The Sicilian Pizza',
 'The Soppressata Pizza',
 'The Southwest Chicken Pizza',
 'The Spicy Italian Pizza',
 'The Spinach Pesto Pizza',
 'The Spinach Supreme Pizza',
 'The Spinach and Feta Pizza',
 'The Thai Chicken Pizza',
 'The Vegetables + Vegetables Pizza']